<% if notice %>
  <div class="mx-auto mt-4 max-w-3xl rounded-lg bg-green-50 px-4 py-3 text-green-800"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="mx-auto mt-4 max-w-3xl rounded-lg bg-red-50 px-4 py-3 text-danger"><%= alert %></div>
<% end %>
